*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.card{
    width: 360px;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 12%);
    border-radius: 16px;
    gap: 30px;
    padding: 30px;
}

.card .profile{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.profile .card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-text h3{
    color: hsl(0, 0%, 100%);
}

.card-text .p1{
    font-weight: 600;
    color: hsl(75, 94%, 57%);
}

.profile .p2{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

.card .card-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.card-buttons a{
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
}

.card-buttons a:hover{
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: black;
}




